@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This Application is designed to help organize and manage Sacrament Meetings for the Church of Jesus Christ of Latter-Day Saints. The Sacrament Meeting Planner is a guideline to help memebers and leaders create plans for their sacrament meetings in their wards and branches.</p>
