@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

    <div id="temple">
        <img src="~/Images/images.jpg" alt="temple">
    </div>
    <div class="scripture">
        <p>This Application is designed to help organize and manage Sacrament Meetings for the Church of Jesus Christ of Latter-Day Saints. The Sacrament Meeting Planner is a guideline to help memebers and leaders create plans for their sacrament meetings in their wards and branches.</p>
    </div>
