@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Team Angels<br />
   Renton WA 98055<br />
    <abbr title="Phone">P:</abbr>
   206.111.2000
</address>

<address>
    <strong>Support:</strong> <a href="teamangels@gmail.com">teamangels@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="teamangels@gmail.com">teamangels@gmail.com</a>
</address>

