@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<div id="contact">
    <div>
        <img src="~/Images/FamilyContactUs.jpg" />
    </div>
    <div id="contactContext">
        <address>
            <h3>Angels 4th Ward</h3>
            <h5>Members:</h5>
            <ul>
                <li>Siokapesi Noema</li>
                <li>Sarah Reed</li>
                <li>Traesa Titel</li>
                <li>Benjamin Wood</li>
            </ul>
            Renton WA 98055<br />
            <abbr title="Phone">P:</abbr>
            206.111.2000
        </address>

        @*<address>
            <strong>Support:</strong> <a href="teamangels@gmail.com">teamangels@gmail.com</a><br />
            <strong>Marketing:</strong> <a href="teamangels@gmail.com">teamangels@gmail.com</a>
        </address>*@
    </div>
</div>

